@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #050505;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    color: #000;
}

.tagline{
    margin-top: 40px;
    font-size: 25px;
    font-family: "JetBrains Mono";
    text-align: center;
}

.blurtext{
    margin-top: 100px;
    font-size: 100px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: fit-content;
    gap: 20px;
    cursor: crosshair;
    transition: all 0.3s ease;
}

.cardHeading{
    font-size: 40px;
    font-family: "Mona Sans";
    text-decoration: underline dashed 2px #ffffff00;
    text-underline-offset: 4px;
    cursor: text;
    transition: all 0.3s ease;
}
.card:hover .cardHeading{
    text-underline-offset: 4px;
    text-decoration: underline 2px dashed #ffffff85;
}
.card:hover .cardImg{
    box-shadow: 0 10px 30px #000;
    transform: scale(1.01);
    transform: translateY(-3px);
}

.card:hover .cardImg:active{
    box-shadow: 0 0px 8px #000;
    transform: scale(1);
    transform: translateY(0px);
}

.card:hover{
    transform: translateY(-10px);
    transform: rotate(1deg);
}


.cardImg{
    border-radius: 10px;
    border: #ffffff35 solid 1px;
    width: 410px;
    box-shadow: 0 0px 8px #000;
    transform: scale(1);
    transform: translateY(0px);
    transition: all 0.3s ease;
}

.cardBt{
    background: #000000;
    padding: 10px 20px;
    border: 2px solid rgb(53, 53, 53);
    color: rgb(111, 181, 255);
    font-weight: 600;
    font-family: "Mona Sans";
    font-variation-settings: "wdth" 1000;
    border-radius: 100px;
    font-size: 20px;
    transition: all 0.3s ease;
}
.cardBt:hover{
    background: #191919;
}
.cardBt:active{
    transform: scale(0.9);
    background: #000;
}

.cardsCont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    margin-top: 100px;
}

@media (max-width: 1500px){
    .cardsCont{
        grid-template-columns: 1fr 1fr;
    }
    .cardHeading{
        font-size: 34px;
    }
    .blurtext{
        font-size: 50px;
    }
}

.settingsCont{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px;
    justify-content: center;
    font-family: "JetBrains Mono";
    align-items: center;
    background-color: #0c0c0c;
    border: #2b2b2b 1px solid;
    padding: 20px;
    border-radius: 40px;
}
.settingsTitle{
    font-size: 35px;
    margin-bottom: 10px;
}

.ballCont{
    width: 100vh;
    border-right: #2b2b2b 2px solid;
    aspect-ratio: 1 / 1;
}

.division{
    height: 2px;
    width: 100%;
    background-color: #1b1b1b;
}